$colorCarry:#F5E2CA;
$colorAtomicTangerine:#F59D60;
$colorCrusta:#F27140;
$appleBlossom:#A84C3E;
$pickledBlueWood:#253045;

$default-padding:15px;
$font-size-normal:20px;

$colorTextLight:white;
$app-title-bg:lighten($pickledBlueWood,30%);
$btn-nbr-bg:$appleBlossom;
$btn-operator-bg:$colorCrusta;
$btn-equal-bg:$colorCrusta;
$calc-input-bg:$colorCarry;
@mixin normal-text{
  font-weight: bold;
  font-size:$font-size-normal;
}
@mixin textSelectDisable{
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; //for non prefixed
}
*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body{
  background-color:$pickledBlueWood !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
main{
  margin-top: 50px;
  box-shadow: -6px 7px 1px #ffffff42;
  border-radius: 7px;
  overflow: hidden;
  background-color: $appleBlossom;
}
.active-operation,.calc-input{
  color:$pickledBlueWood;
  background-color: $calc-input-bg;
  @include normal-text;
  padding: $default-padding;
}

.app-title{
  color:white;
  background-color:$app-title-bg ;
  padding: 15px;
  margin-bottom: 0px ;
}
.calc-btn{
  border:1px rgba(255, 255, 255, 0.19) solid;
  text-align: center;
  cursor:pointer;
  color:$colorTextLight;
  @include normal-text;
  padding: $default-padding ;
  @include textSelectDisable;
  &--nbr{
    background-color: $btn-nbr-bg ;
    &:hover{
      background-color: darken($btn-nbr-bg,20%);
    }
  }
  &--operator{
    background-color: $btn-operator-bg;
    &:hover{
      background-color: darken($btn-operator-bg,20%);
    }
  }
  &--clear{
    background-color: $btn-operator-bg;
    &:hover{
      background-color: darken($btn-operator-bg,20%);
    }
  }
  &--equal{
    background-color: $btn-equal-bg;
    &:hover{
      background-color: darken($btn-equal-bg,20%);
    }
  }
}

